<!DOCTYPE html>
<html lang="es" data-theme="{{ session.get('theme', 'dark') }}" data-bs-theme="{{ session.get('theme', 'dark') }}">

<head>
  <meta charset="UTF-8">
  <title>Detalle Paciente</title>
  {% include 'partials/links.html' %}
</head>

<body class="d-flex flex-column min-vh-100">
  <!-- Navbar -->
  {% include 'partials/header.html' %}

  <!-- Card -->
  <main class="flex-grow-1">
    <div class="container-fluid mt-2">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="d-flex flex-column flex-md-row shadow-lg rounded-4 overflow-hidden">

            <!-- tutor: izquierda: -->
            <div class="col-md-3 p-3">
              {% include 'tutor/tutor.html' %}
            </div>

            <!-- derecha: paciente -->
            <div class="col-md-9 p-4">
              {% include 'partials/paciente/card.html' %}

              <div class="row my-3 g-2">
                <div class="col-12 col-md-auto">
                  <a href="/consulta/nuevo?paciente_id={{ paciente.id }}&tutor_id={{ paciente.tutor_id }}"
                    class="btn btn-success w-100">
                    Nueva Consulta
                  </a>
                </div>

                <div class="col-12 col-md-auto">
                  <a href="{{ url_for('paciente_bp.generar_reporte_paciente', paciente_id=paciente.id) }}"
                    class="btn btn-success w-100">
                    Descargar Historia Clínica
                  </a>
                </div>
              </div>

              <div class="mt-4">

                <!-- historial de consultas (TODO: Revisar) -->
                <div class="mt-4">
                  <h4>Historial de Consultas</h4>
                  {% if paciente.consultas %}
                  <div class="list-group list-group-consultas">
                    {% for consulta in paciente.consultas %}
                    <a href="/consulta/{{ consulta.id }}" class="list-group-item list-group-item-action">
                      Consulta del {{ consulta.fecha.strftime('%d/%m/%Y') }}
                    </a>
                    {% endfor %}
                  </div>
                </div>
                {% else %}
                <p>No hay consultas registradas</p>
                {% endif %}
              </div>

            </div>
          </div>
  </main>
  <!-- Footer -->
  {% include 'partials/footer.html' %}
  <div class="modal fade" id="validationErrorModal" tabindex="-1" aria-labelledby="validationErrorModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white">
          <h5 class="modal-title" id="validationErrorModalLabel">¡Faltan datos!</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="modalErrorMessage">Por favor, complete todos los campos obligatorios marcados en rojo.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>