<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>Alta Paciente</title>
  {% include 'partials/links.html' %}
</head>

<body class="d-flex flex-column min-vh-100">
  <!-- Navbar -->
  {% include 'partials/header.html' %}

  <!-- Seleccionar tutor o crearlo -->
  <div class="container">
    <h2>Registrar nuevo paciente</h2>
    <div class="row g-1 align-items-start">
      {% include 'partials/tutor/selec_tutor.html' %}
    </div>
    <div class="mt-3">
      <a href="{{ url_for('tutor_bp.nuevo_tutor') }}" class="btn btn-success mt-2">
        Crear nuevo tutor
      </a>
      <a href="/" class="btn btn-success mt-2 ms-2">
        Volver
      </a>
    </div>
    <div class="mt-4">
      <!-- Formulario nuevo paciente -->
      <div id="form-paciente" class="d-none">
        {% include 'partials/paciente/form_paciente.html' %}
      </div>
    </div>
  </div>

  <!-- Footer -->
  {% include 'partials/footer.html' %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{{ url_for('static', filename='js/altas.js') }}"></script>
</body>

</html>