@import url("global.css");

body {
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--color-texto-enfasis);
}

footer {
  margin-top: auto;
}

.list-group-consultas .list-group-item:hover {
  background-color: var(--bs-success) !important;
  color: #fff !important;
}

.img-cover {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Para el home */
.card-img-fixed {
  height: 150px;
  width: 150px;
}

/* Para el detalle paciente */
.img-detalle-fixed {
  height: 350px;
}

/* Para validacion de input pacientes */
.is-invalid {
  /* Usamos la variable de peligro */
  border-color: var(--color-peligro) !important;
}

/* Ejemplo de cómo estilizar un botón ahora */
.btn-primario {
  background-color: var(--color-primario);
  color: var(--color-primario-texto);
  padding: 0.8rem var(--espaciado-base);
  border: none;
  border-radius: var(--radio-borde);
  cursor: pointer;
  font-family: var(--fuente-principal);
  font-weight: 700;
}
