html, body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  color: #2c3e50;
}
footer {
  margin-top: auto;
}

.img-cover {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Para el home */
.card-img-fixed {
  height: 150px;
  width: 150px;
}

/* Para el detalle paciente */
.img-detalle-fixed {
  height: 350px;
}

/* Para validacion de input pacientes */
.is-invalid {
  border-color: #dc3545 !important; 
}