/* Importar la fuente Lato desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Variables globales */
:root {
  /* Colores */
  --color-claro: #F9EFDB;
  --color-Marron: #EBD9B4;
  --color-verde-claro: #9DBC98;
  --color-verde-oscuro: #638889;

  /* Fuentes */
  --fuente-principal: 'Lato', sans-serif;

  /* Otros valores globales opcionales */
  --tamano-base: 16px;
  --espaciado-base: 1rem;
}



/*
En tu HTML principal, importa el archivo antes de tus otros estilos:

<link rel="stylesheet" href="styleGlobal.css">
<link rel="stylesheet" href="style.css">

*/



/* Ejemplos de uso global 
body {
  font-family: var(--fuente-principal);
  font-size: var(--tamano-base);
  background-color: var(--color-claro);
  color: var(--color-verde-oscuro);
} 
  
*/

/*

h1 {
  color: var(--color-Marron);
  font-family: var(--fuente-principal);
}

button {
  background-color: var(--color-verde-claro);
  color: var(--color-claro);
  padding: var(--espaciado-base);
}


*/