@import url("global.css");

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("imgs/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.05;
  z-index: -1;
}

h1 {
  color: var(--color-texto-enfasis);
}

footer {
  margin-top: auto;
}

.list-group-consultas .list-group-item:hover {
  background-color: var(--bs-success) !important;
  color: #fff !important;
}

.img-cover {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Para el home */
.card-img-fixed {
  height: 150px;
  width: 150px;
}

/* Para el detalle paciente */
.img-detalle-fixed {
  height: 350px;
}

/* Para validacion de input pacientes */
.is-invalid {
  /* Usamos la variable de peligro */
  border-color: var(--color-peligro) !important;
}

/* Ejemplo de cómo estilizar un botón ahora */
.btn-primario {
  background-color: var(--color-primario);
  color: var(--color-primario-texto);
  padding: 0.8rem var(--espaciado-base);
  border: none;
  border-radius: var(--radio-borde);
  cursor: pointer;
  font-family: var(--fuente-principal);
  font-weight: 700;
}

/* —— MODO MÓVIL: filas profesional en “tarjetas” */
@media (max-width: 768px) {

  .table-mobile-stacked thead {
    display: none;
  }

  .table-mobile-stacked tr {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid #444;
    border-radius: 0.75rem;
    padding: 0.75rem;
    background-color: var(--bs-body-bg);
  }

  .table-mobile-stacked td {
    display: block;
    padding: 0.4rem 0;
    border: none;
    text-align: left !important;
  }

  .table-mobile-stacked td::before {
    content: attr(data-label) ": ";
    font-weight: bold;
    color: var(--bs-primary);
    margin-right: .25rem;
  }
}
