<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="d-flex flex-column min-vh-100">
  <!-- Navbar -->
  {% include 'partials/header.html' %}

  <div class="container">
   <h2>Lista de profesionales</h2>
    <div class="row">
     <div class="col-auto">
      <!-- TODO: Hacer que el botón agregue un nuevo profesional -->
      <a href="" class="btn btn-success">
        Agregar
      </a>
      <a href="/" class="btn btn-success">Volver</a>
      </div>
    </div>

    <div class= "mt-3">
        <!-- Encabezado de columnas -->
    <div class="row ms-1 fw-bold mb-1">
     <div class="col-1">Matricula</div>
     <div class="col-2">Nombre</div>
     <div class="col-2">Apellido</div>
     <div class="col-2">Especialidad</div>
     <div class="col-2">Telefono</div>
     <div class="col-2">Email</div>

    </div>
  <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="row w-100">
          <div class="col-1">MN34152</div>
          <div class="col-2">Jorge</div>
          <div class="col-2">Paz</div>
          <div class="col-2">Veterinario</div>
          <div class="col-2">11245088</div>
          <div class="col-2">Paz@gmail</div>
          <div class="col-1 text-end">
        <!-- TODO: Hacer que al presionar este botón se abra un formulario para editar el profesional-->
        <a href="" class="btn btn-success btn-sm">
            <i class="bi bi-pencil"></i>
            </a>
        </div>
    </div>
    </li>
  </ul>
  </div>
</div>
</div>

  </main>
  <!-- Footer -->
  {% include 'partials/footer.html' %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>