<!DOCTYPE html>
<html lang="es" data-theme="{{ session.get('theme', 'dark') }}" data-bs-theme="{{ session.get('theme', 'dark') }}">

<head>
  <meta charset="UTF-8">
  <title>Registro</title>
  {% include 'partials/links.html' %}
</head>

<body class="d-flex flex-column min-vh-100">
  <!-- Navbar -->
  {% include 'partials/header.html' %}

  <main class="flex-grow-1 d-flex justify-content-center align-items-center m-2">
    <div class="card shadow p-4" style="max-width: 450px; width: 100%;">
      <h3 class="text-center mb-4">Registrar mi Negocio Veterinario</h3>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger">{{ message }}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      <!-- Formulario -->
      <form method="POST" action="{{ url_for('auth_bp.register_submit') }}">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre del local</label>
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ej: Clínica Patitas"
            required>

        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="usuario@ejemplo.com" required>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="********" required>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-success">Registrarme</button>
        </div>
      </form>

      <p class="text-center mt-3 mb-0">
        ¿Ya tienes cuenta?
        <a href="{{ url_for('auth_bp.login_page') }}" class="text-success fw-bold">Inicia sesión</a>
      </p>
    </div>
  </main>

  <!-- Footer -->
  {% include 'partials/footer.html' %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>